draw-process {
    .meterText{
        position: absolute;
        bottom: 1.0em;
        left: 2.22em;
        width: 100%;
        font-size: 3.5em;
        z-index: 9;
    }

    .graphName{
        position: absolute;
        top: 0.1em;
        left: 2.5em;
        width: 100%;
        font-size: 2.4em;
        z-index: 9;
    }

    canvas{
        position: absolute;
        top: 1.3em; 
    }

    .graphArea{
        height:14em;
        position:relative;
        box-sizing:border-box;
    }

    .card-meter{
        border-radius: 2.5em;
        width: 20em;
    }

    .speedtest {
        background-image: url("/assets/imgs/gradient.png");
		background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
	}
}
